body {
  font-family: "Courier New", Courier, monospace;
  color: aliceblue;
}

#product-overview h1 {
  color: red;
  font-family: sans-serif;
}
#product-overview {
  background: black;
}

.section-title {
  color: green;
  font-family: inherit;
}

h1 {
  color: blue;
}
