.task-div {
  padding: 1px 0px 2px 0px;
  border: black solid 2px;
  margin: 2px 0;
  width: 49%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.first-div {
  height: 250px;
  /* visibility: hidden; */
  display: none;
}

.last-div:hover {
    color: aliceblue;
    background: black;
}
