main {
  padding-top: 36px;
}

.background {
  background: url("../images/plans-background.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.plan-section {
  background: rgb(160, 254, 160);
  width: 80%;
  border: solid black 4px;
  border-left: none;
  padding: 16px 8px;
  margin: 8px 0;
}
.plan-section:hover,
.plan-section:active {
  border-color: salmon;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.plan-section a {
  text-decoration: none;
}

.plan-section__title {
  text-decoration: none;
  color: black;
}

.plan-section__subtitle {
  color: rgb(120, 120, 120);
}

.plan-section__description {
  color: black;
  background: white;
  padding: 8px;
  border: black solid 2px;
}

.plan--free {
  background: rgba(214, 254, 214, 0.95);
  border: solid black 4px;
  border-right: none;
  float: right;
}
.clearfix {
  clear: both;
}
.plan--premium {
  background-color: rgba(30, 41, 12, 0.95);
}
.plan--premium h1,
.plan--premium h2 {
  color: aliceblue;
}
