@font-face {
  font-family: "AnonymousPro";
  src: url(AnonymousPro-Regular.ttf) format("truetype");
}

main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -2;
}

.plan-section {
  background: rgb(160, 254, 160);
  width: 80%;
  border: solid black 4px;
  border-left: none;
  margin: 1rem 0;
  position: relative;
}
.plan-section:hover,
.plan-section:active {
  border-color: salmon;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.plan-section a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 2rem;
}

.plan-section__title {
  text-decoration: none;
  display: block;
  color: black;
}

.plan-section__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 0.8rem;
  color: aliceblue;
  background-color: #ff5454;
  padding: 0.5rem;
}

.plan-section__subtitle {
  color: rgb(120, 120, 120);
}

.plan-section__description {
  color: black;
  background: white;
  padding: 0.5rem;
  border: black solid 1px;
  font-size: 1.2rem;
  /*shorthand font- style, variant, weight, size/line-height, family */
}

.plan--free {
  background: rgba(214, 254, 214, 0.95);
  border: solid black 4px;
  border-right: none;
  float: right;
}
.clearfix {
  clear: both;
}
.plan--premium {
  background-color: rgba(30, 41, 12, 0.95);
}
.plan--premium h1,
.plan--premium h2 {
  color: aliceblue;
}

@media (min-width: 40rem) {
  main {
    max-width: 94rem;
  }
}

@media (min-width: 94rem) {
  .plan-section {
    border-left: solid black 4px;
  }
  .plan--free {
    border-right: solid black 4px;
  }
}
